<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> » 
            <span>
                <strong class="breadcrumb_last" aria-current="page"><%= @department.name %></strong>
            </span>
        </span>
    </span>
</div>

<h1><%= @department.name %></h1>

<% if @products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p><%= page_entries_info @products %></p>
    <div class="card-deck">
        <%= render @products %>
    </div>
<% end %>

<%= paginate @products, window: 2 %>
