<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> »
            <span>
                <strong class="breadcrumb_last" aria-current="page">Shopping Cart</strong>
            </span>
        </span>
    </span>
</div>

<h1>Shopping Cart</h1>
<p>Below you will find the products added to your shopping cart</p>

<div class="container-white shopping-cart" style="margin: 0.5rem auto;">
<% if @cart.empty? %>
    <h2>Your shopping cart is empty.</h2>
<% else %>
    <form class="shopping-cart-form" action="" method="post">
            <table class="shop-table shop_table_responsive woocommerce-cart-form__contents" cellspacing="0">
                <thead>
                    <tr>
                        <th class="product-name" colspan="2">Produto</th>
                        <th class="product-price">Preço</th>
                        <th class="product-quantity">Quantidade</th>
                        <th class="product-subtotal">Subtotal</th>
                        <th class="product-remove">&nbsp;</th>
                    </tr>
                </thead>
                <tbody>
                <% @cart.each do |item| %>
                    <% product = item[:product] %>
                    <tr class="cart-item">
                        <td class="product-thumbnail">
                            <%# -----START----- PRODUCT IMAGE %>
                            <% if product.images.count == 0 %>
                                <%= link_to image_tag("image_coming_soon.jpg", alt:product.name + " missing image", class:"card-img-top product-image-show"), product_path(:id => product.id) %>
                            <% else %>
                                <%= link_to image_tag(product.images[0], alt:product.name + " image", class:"card-img-top product-image-show", style: "width: 80px; height:80px;"), product_path(:id => product.id) %>
                            <% end %>
                            <%# -----END----- PRODUCT IMAGE %>
                        </td>
                        <td class="product-name">
                            <%# -----START----- PRODUCT NAME %>
                            <%= link_to product.name, product_path(:id => product.id) %>
                            <%# -----END----- PRODUCT NAME %>
                        </td>
                        <td class="product-price">
                            <%# -----START----- PRODUCT PRICE %>
                            <span>CDN$ <%= number_with_precision(product.price, precision: 2) %></span>
                            <%# -----END----- PRODUCT PRICE %>
                        </td>
                        <td class="product-quantity">
                            <%# -----START----- PRODUCT QTY %>
                            <div class="product-quantity-changer">
                                <%= link_to "-", add_to_cart_path(product.id, cart_action:"-"), method: :post, class:"product-quantity-changer__trigger" %>
                                <div class="quantity">
                                    <input type="number" class="input-quantity"
                                        value="<%= item[:qty] %>" readonly>
                                </div>
                                <%= link_to "+", add_to_cart_path(product.id, cart_action:"+"), method: :post, class:"product-quantity-changer__trigger" %>
                            </div>
                            <%# -----END----- PRODUCT QTY %>
                        </td>
                        <td class="product-subtotal" data-title="Subtotal">
                            <%# -----START----- PRODUCT SUBTOTAL %>
                            <span>CDN$ <%= number_with_precision(product.price * item[:qty], precision: 2) %></span>
                            <%# -----END----- PRODUCT SUBTOTAL %>
                        <td class="product-remove">
                            <%# -----START----- PRODUCT DELETE %>
                            <%= link_to remove_from_cart_path(product), method: :delete, class: "remove" do %>
                                <svg width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M2.5 5H4.16667H17.5" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path
                                        d="M6.6665 5.00008V3.33342C6.6665 2.89139 6.8421 2.46746 7.15466 2.1549C7.46722 1.84234 7.89114 1.66675 8.33317 1.66675H11.6665C12.1085 1.66675 12.5325 1.84234 12.845 2.1549C13.1576 2.46746 13.3332 2.89139 13.3332 3.33342V5.00008M15.8332 5.00008V16.6668C15.8332 17.1088 15.6576 17.5327 15.345 17.8453C15.0325 18.1578 14.6085 18.3334 14.1665 18.3334H5.83317C5.39114 18.3334 4.96722 18.1578 4.65466 17.8453C4.3421 17.5327 4.1665 17.1088 4.1665 16.6668V5.00008H15.8332Z"
                                        stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M8.3335 9.16675V14.1667" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                    <path d="M11.6665 9.16675V14.1667" stroke="#A9A9A9" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
                                </svg>
                            <% end %>
                            <%# -----END----- PRODUCT DELETE> %>
                        </td>
                    </tr>
                <% end %>
                </tbody>
            </table>
    </form>
    <div class="mt-4">
        <h2 class="cart__actions__title mb-3">Order Summary</h2>
        <p class="mb-0"><strong>Subtotal (<%= "#{@total_items} item".pluralize(@total_items)%>)</strong></p>
        <p class="mb-3"><strong>CDN$ <%= number_with_precision(@subtotal, precision: 2) %></strong></p>
        <%= button_to "Checkout", checkout_create_path(@cart), method: :post, class: "btn btn-product-details" %>
    </div>
<% end %>

</div>
