<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> » 
            <span>
                <%= link_to @category.department.name, @category.department %> »
                <span>
                    <strong class="breadcrumb_last" aria-current="page"><%= @category.name %></strong>
                </span>
            </span>
        </span>
    </span>
</div>


<h1><%= @category.name %></h1>

<% if @products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p class="page-filter-container">Filter by 
        <span class="page-filter<%= " current" if @filter == "" %>"><%= link_to "Clear Filters", category_path(@category.id) %></span>
        <span class="page-filter<%= " current" if @filter == "new" %>"><%= link_to "New Products", category_path(@category.id, filter: "new") %></span>
        <span class="page-filter<%= " current" if @filter == "recent" %>"><%= link_to "Recently Updated", category_path(@category.id, filter: "recent") %></span>
    </p>
    <p><%= page_entries_info @products %></p>
    <div class="card-deck">
        <%= render @products %>
    </div>
<% end %>

<%= paginate @products, window: 2 %>
