<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> » 
            <span>
                <%= link_to @category.department.name, @category.department %> »
                <span>
                    <strong class="breadcrumb_last" aria-current="page"><%= @category.name %></strong>
                </span>
            </span>
        </span>
    </span>
</div>


<h1><%= @category.name %></h1>

<% if @category.products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p>Listing all <%= @category.products.count %> products</p>
    <div class="card-deck">
        <%= render @category.products %>
    </div>
<% end %>
