<div class="breadcrumbs">
    <span>
        <span>
            <strong class="breadcrumb_last" aria-current="page">Home</strong>
        </span>
    </span>
</div>

<h1>All Products</h1>

<% if @products.empty? %>
    <p>There are no products found.</p>
<% else %>
    <p class="page-filter-container">Filter by 
        <span class="page-filter<%= " current" if @filter == "" %>"><%= link_to "Clear Filters", products_path() %></span>
        <span class="page-filter<%= " current" if @filter == "new" %>"><%= link_to "New Products", products_path(filter: "new") %></span>
        <span class="page-filter<%= " current" if @filter == "recent" %>"><%= link_to "Recently Updated", products_path(filter: "recent") %></span>
    </p>
    <p><%= page_entries_info @products %></p>
    <div class="card-deck">
        <%= render @products %>
    </div>
<% end %>

<%= paginate @products, window: 2 %>

