<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> » 
            <span>
                <%= link_to @product.category.department.name, @product.category.department %> »
                <span>
                    <%= link_to @product.category.name, @product.category %> »
                    <strong class="breadcrumb_last" aria-current="page"><%= @product.name %></strong>
                </span>
            </span>
        </span>
    </span>
</div>

<h1><%= @product.name %></h1>

<div style="margin: 0.5rem auto;">
<% if @product.images.count == 0 %>
    <%= image_tag("image_coming_soon.jpg", alt:@product.name + " missing image", class:"card-img-top product-image-show") %>
<% else %>
    <% @product.images.each do |img| %>
        <%= image_tag(img, alt:@product.name + " image", class:"card-img-top product-image-show") %>
    <% end %>
<% end %>
</div>   

<p class="font-weight-bold mb-0">Price: CDN$ <%= number_with_precision(@product.price, precision: 2) %></p>
<p class="font-weight-bold mb-1">
<small class="ml-2">In Stock: <%= @product.stock_quantity %></small>
</p>

<% if @cart.include?(@product) %>
    <div class="mt-3 mb-3">
        <span class="alert alert-success">This product is in your cart</span>
    </div>
    <%= button_to "Remove From Cart", remove_from_cart_path(@product), method: :delete, class: "btn btn-product-details" %>
<% else %>
    <%= link_to "Add to Cart", add_to_cart_path(@product.id), method: :post, class:"btn btn-product-details" %>
<% end %>

<p class="mt-2">Brand: <%= @product.brand.name %></p>
<p>Category: <%= @product.category.name %></p>

<div class="description">
    <p>Description:</p>
    <%= simple_format(@product.description) %>
</div>
