<div class="breadcrumbs">
    <span>
        <span>
            <%= link_to "Home", root_path %> » 
            <span>
                <%= link_to @product.category.department.name, @product.category.department %> »
                <span>
                    <%= link_to @product.category.name, @product.category %> »
                    <strong class="breadcrumb_last" aria-current="page"><%= @product.name %></strong>
                </span>
            </span>
        </span>
    </span>
</div>

<h1><%= @product.name %></h1>

<% if @product.images.count == 0 %>
    <%= image_tag("image_coming_soon.jpg", alt:@product.name + " missing image", class:"card-img-top product-image") %>
<% else %>
    <% @product.images.each do |img| %>
        <%= image_tag(img, alt:@product.name + " image", class:"card-img-top product-image") %>
        <%#= image_tag(@product.images[0], alt:@product.name + " image", class:"card-img-top product-image") %>
    <% end %>
<% end %>
        

<p class="font-weight-bold">Price: CDN$ <%= number_with_precision(@product.price, precision: 2) %></p>
<p>In Stock: <%= @product.stock_quantity %></p>
<p>Brand: <%= @product.brand.name %></p>
<p>Category: <%= @product.category.name %></p>

<div class="description">
    <p>Description:</p>
    <%= simple_format(@product.description) %>
</div>
