<!DOCTYPE html>
<html>
  <head>
    <title>Nerdstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://js.stripe.com/v3/"></script>
  </head>

  <body>
    <header>
        <%= render partial: "shared/header_bar" %>
        <%= render partial: "shared/navigation_bar" %>
    </header>
    <div class="container<%= ' container-white' if controller.controller_name == 'products' && controller.action_name == 'show' %>">
      <main>
        <div class="container">
          <%= yield %>
        </div>
      </main>
    </div>
      <footer class="text-center">
        <div class="row mb-2">
          <div class="col"><%= link_to "About Us", about_path %> &nbsp;&nbsp;|&nbsp;&nbsp; <%= link_to "Contact Us", contact_path %></div>
        </div>
        <div class="row">
          <div class="col">Copyright Arthur Saraiva 2020.</div>
        </div>
      </footer>
  </body>
</html>
