<!DOCTYPE html>
<html>
  <head>
    <title>Nerdstore</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
        <%= render partial: "shared/header_bar" %>
        <%= render partial: "shared/navigation_bar" %>
    </header>
    <div class="container">
      <main>
        <div class="container">
          <%= yield %>
        </div>
      </main>
      <footer class="container">Copyright Arthur Saraiva 2020.</footer>
    </div>
  </body>
</html>
